@{
    ViewBag.Title = "Site Navigation";
    Layout = "~/Views/Shared/_SiteConfigurationLayout.cshtml";
}

@Styles.Render("~/Content/Kendo/css")
@Scripts.Render("~/bundles/Kendo")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/HostedAdmin/SiteNavigation.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("SelectCustomer", "Home")">Client Selection</a></li>
                @*<li><a href="@Url.Action("WelcomeClient", "Client")">@ViewData["SelectedCustomer"]</a></li>*@
                <li><a href="@Url.Action("List", "Site")">Sites</a></li>
                <li><a href="@Url.Action("SiteConfiguration", "Site")">@ViewData["SelectedSite"]</a></li>
                <li class="active">Site Navigation</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            @*<h2>Site Navigation</h2>*@
            <p class="pageCaption">
                Site Navigation<span id="SiteNavigationPopOver" class="glyphicon popOverStyle glyphicon-info-sign pageCaptionHelp" data-toggle="popover"></span>
            </p>
        </div>

        <div class="col-sm-3 newAddButton">
            <a id="newSiteNavigation" class="btn btn-success btn-sm m-top-5 pull-right-xs-max">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Site Navigation
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
        </div>
    </div>

    @*-----------------------------------------------------SearchParameters--------------------------------------------------------------*@
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input id="NavigationKeyCombo" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <input id="PageNameCombo" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input id="VersionCombo" type="text" class="form-control" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <button id="searchSiteNavigation" class="btn btn-primary btn-sm clear-after" type="button">Search</button>
            <a class="btn btn-link btn-sm clear-form" href="#" id="clearSiteNavigationSearch"><span><u>Clear Filters</u></span></a>
        </div>
    </div>
    @*----------------------------------------------------------GRID-------------------------------------------------------*@
    <div class="row">
        <div class="col-md-12">
            <br />
        </div>
    </div>
    <div id="SiteNavigationGridwithSortingButtons">
        <div id="SiteNavigationcontainerDiv" class="box1 containerDivInLine"></div>
        <div id="GridContainer" class="ScrollTable">
            <div id="SiteNavigationGrid" class="tableFixedWidth">
            </div>
        </div>
    </div>
</div>

<div id="dvSiteNavigationLoad" data-request-url="@Url.Action("GetAllSiteNavigationDetails", "SiteNavigation")"></div>
<div id="dvGetNavigationKey" data-request-url="@Url.Action("GetNavigationKey", "SiteNavigation")"></div>
<div id="dvPageNameComboLoad" data-request-url="@Url.Action("GetPageNames", "SiteNavigation")"></div>
<div id="dvEditSiteNavigation" data-request-url="@Url.Action("Edit", "SiteNavigation")"></div>
<div id="dvDisableSiteNavigation" data-request-url="@Url.Action("DisableSiteNavigation", "SiteNavigation")"></div>
<div id="dvVersionComboLoad" data-request-url="@Url.Action("GetVersions", "SiteNavigation")"></div>
<div id="dvSiteNavigationPopOver" class="dispNone">
    Site Navigation page displays all the available Site Navigations for selected Client in RightProspectus system.
     <br />
    <br />
    Below are the functionalities provided in this page,
    <ul>
        <li>ADD New Site Navigation</li>
        <li>EDIT Existing Site Navigation</li>
        <li>SEARCH Site Navigation based on Navigation Key, Page Name and Version</li>
        <li>DELETE Site Navigation</li>
    </ul>
    <br />
</div>

<script id="alertDisableUrlRewrite" type="text/x-kendo-template">
    <p class="message">Are you sure you want to disable this Site Navigation?</p>
    <button class="confirm k-button confirmButtonYesMultiple">Yes</button>
    <button class="cancel k-button confirmButtonSingleYesNo">No</button>
</script>


