<div class="row">
    <div class="col-sm-12">

    </div>
</div>
<div id="importGroupFundsHierarchy" style="display:none">
    <div class="row">
        <div style="padding:10px 10px 10px 10px">
            <input type="file" name="file" id="groupFundsUpload" />
        </div>

        <div class="col-sm-12">
            <div id="TAGDInvalidDataGridContainer" class="ScrollTable">
                <div id="TAGDInvalidDataGridHeader" class="tableFixedWidth" style="margin:20px 0; display:none">
                    Invalid Group and Fund mapping or Order
                </div>
                <div id="TAGDInvalidDataGrid" class="tableFixedWidth">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div id="dvSwitchIM" class="btn-group pull-right dvSwitch">
            <a href="#" class="btn btn-default dropdown-toggle, ImportActions" data-toggle="dropdown">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="TAGDlnkImport" href="#">Import</a></li>
                <li><a id="exportlnkTAGD" href="#">Export</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="GridContainer" class="ScrollTable">
            <div id="importgroupHierarchyGrid" class="tableFixedWidth">
            </div>
        </div>
    </div>
</div>
<div id="dvTaxonomyAssociationGroup" data-request-url="@Url.Action("GetTaxonomyGroup", "VerticalTAGD")"></div> 
<div id="dvTaxonomyAssociationGroupTaxonomyAssociation" data-request-url="@Url.Action("GetTaxonomyAssociationGroupTaxonomyAssociation", "VerticalTAGD")"></div>
<div id="dvTaxonomyAssociation" data-request-url="@Url.Action("GetTaxonomy", "VerticalTA")"></div>
<div id="dvSaveGroupFundHierarchy" data-request-url="@Url.Action("SaveGroupHierarchy", "VerticalTAGD")"></div>
<div id="dvTaxonomyAssociationGroupFundsExport" data-request-url="@Url.Action("ExportTaxonomyGroupFunds", "VerticalTAGD")"></div>
<div id="dvTaxonomyAssociationGroupFundsImport" data-request-url="@Url.Action("ImportTaxonomyGroupFunds", "VerticalTAGD")"></div>
<script src="~/Scripts/HostedAdmin/VerticalDataImport/TaxonomyGroupFunds.js"></script>
<script type="text/x-kendo-template" id="deleteTaxonomyAssociationGroupFundTemplate">    
    Delete
    <strong> MarketId </strong> ?
    <button class="confirm k-button confirmButtonYesMultiple" id="confirmDelete">Yes</button>
    <button class="cancel k-button confirmButtonSingleYesNo" id="cancelDelete"> No</button>
</script>

<script type="text/x-kendo-template" id="underlyingFundTemplate">

    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                Underlying Fund Data
            </li>
        </ul>
        <div>
            <div id="underlyingFundGrid"></div>
        </div>
    </div>
</script>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    .file-icon {
        display: inline-block;
        float: left;
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-top: 13.5px;
    }


    #groupFundsUpload .file-heading {
        font-family: Arial;
        font-size: 1.1em;
        display: inline-block;
        float: left;
        width: 60%;
        margin: 0 0 0 20px;
        height: 25px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #groupFundsUpload .file-name-heading {
        font-weight: bold;
        margin-top: 20px;
    }

    #groupFundsUpload .file-size-heading {
        font-weight: normal;
        font-style: italic;
    }

    li.k-file .file-wrapper .k-upload-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    li.k-file div.file-wrapper {
        position: relative;
        height: 75px;
    }

    div.k-window-content {
        overflow: hidden !important;
    }

    .TaxonomyGroupFunds-EditPopup .k-edit-form-container{
        width: 400px !important
    }
    .TaxonomyGroupFunds-EditPopup .editor-label, .TaxonomyGroupFunds-EditPopup .k-edit-label{
        width: 35% !important;
    }

    .TaxonomyGroupFunds-EditPopup .editor-field, .TaxonomyGroupFunds-EditPopup .k-edit-field{
        width: 55% !important;
    }
    .TaxonomyGroupFunds-EditPopup .k-textbox, .TaxonomyGroupFunds-EditPopup .k-dropdown,.TaxonomyGroupFunds-EditPopup .k-numerictextbox {
        width: 100%;
    }    

    #importgroupHierarchyGrid .k-grid, #importgroupHierarchyGrid .k-grid-content{
        overflow: hidden;
    }
</style>

